/* ===== index.css ===== */

/* ========== Base Layers ========== */
@import "variables.css";
@import "base.css";
@import "layout.css";
@import "utils.css";
@import "tooltip.css";
@import '@fortawesome/fontawesome-free/css/all.min.css';

/* === General styling and layout === */
@import "sidebar.css";

/* ========== Components ========== */
@import "../../ui/styles/Icon.css";
@import "../../ui/styles/Tile.css";
@import "../../ui/styles/Drawer.css";
@import "../../ui/styles/Card.css";
@import "../../ui/styles/FlipCard.css";
@import "../../ui/styles/Button.css";
@import "../../ui/styles/Form.css";
@import "../../ui/styles/Media.css";
@import "../../ui/styles/Toggle.css";
@import "../../ui/styles/Banner.css";

/* ========== Pages ========== */
@import "../../features/account/styles/AccountCard.css";
@import "../../features/mod/styles/ModCard.css";
@import "../../features/plants/styles/PlantCard.css";
@import "../../features/analytics/styles/AnalyticsPanel.css";