/* ===== FlipCard.css ===== */
.flip-card {
    perspective: 1000px;
    width: 100%;
    position: relative;
    border-radius: var(--radius);
    z-index: 1;
}

.flip-card.no-flip .flip-card-inner { transform: none !important; }

.flip-card-inner {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 380ms ease, min-height 200ms ease;
    border-radius: inherit;
}

.flip-card-inner.is-flipped { transform: rotateY(180deg); }

.flip-card-face {
    position: relative;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: inherit;
    display: flex;
}

.flip-card-face.front { transform: rotateY(0deg); z-index: 2;}

.flip-card-face.back {
    position: absolute;
    inset: 0;
    transform: rotateY(180deg);
    overflow: visible;
    z-index: 1;
}

.flip-card-face > .card {
    border-radius: inherit;
    display: flex;
    flex-direction: column;
}

.flip-card--autoheight .flip-card-inner { min-height: auto; }

