@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,300..700,0..1,-50..200"); /* Media.css */

.msr {
    font-family: "Material Symbols Rounded", serif;
    font-weight: 400; /* 300..700 */
    font-style: normal;
    font-size: 20px;  /* תשנה חופשי */
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;

    /* וריאציות ברירת מחדל (אפשר לשנות פר־אייקון) */
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
