/* ===== Mod tile ===== */

.mod-status__badge{
    position: absolute;
    display: inline-flex;
    align-items: center;
    top: 40px;
    /*right: -30px;*/
    inset-inline-end: -30px;
    gap: 15px;
    width: 250px;
    border-radius: 999px;
    background: #2a2a2a;
    border: 1px solid #373737;
    font-size: 10px;
    white-space: nowrap;
}

.mod-status__badge .mod-status__dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
    background: #999;
}

.mod-status{
    inset-inline-start: 280px;
    text-align: start;
    position: absolute;
    display: inline-flex;
    /*left: 280px;*/
    gap: 4px;
    line-height: 1.2;
}

.mod-status__events{
    inset-inline-start: 70px;
    text-align: start;
    position: absolute;
    list-style: none;
    /*left: 70px;*/
    top: 10px;
    margin: 4px 0 0;
    padding: 0;
    font-size: 11px;
    opacity: .75;
}

.mod-status__badge,
.mod-status,
.mod-status__events { position: absolute; }

.mod-status__events li{ margin-top: 2px; }
.mod-status__badge.is-on .mod-status__dot { background: #2ecc71; }
.mod-status__badge.is-off .mod-status__dot { background: #777 ; }
.mod-body-canvas{ position: relative; width: 100%; height: 100%; }